<html>
<head>
  <title>fetch</title>
  <meta charset="utf8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <style>
    .row {
      padding-top: 20px;
    }
  </style>
</head>
<body>
  <div id="root">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="input-group input-group-lg">
            <input
              type="text"
              v-model="newTodo"
              @keyup.enter="addTodo()"
              class="form-control"
              placeholder="What needs to be done?">
            <span class="input-group-btn">
              <button
              @click="addTodo()"
              class="btn btn-secondary"
              type="button">Add</button>
            </span>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
              class="nav-link"
              :class="{active: visibility == 'all'}"
              href="#all">All</a>
            </li>
            <li class="nav-item">
              <a
              class="nav-link"
              :class="{active: visibility == 'active'}"
              href="#active">Active</a>
            </li>
            <li class="nav-item">
              <a
              class="nav-link"
              :class="{active: visibility == 'completed'}"
              href="#completed">Completed</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Done</th>
                <th>Content</th>
                <th>X</th>
              </tr>
            </thead>
            <tbody>

              <tr
                is="table-row"
                v-for="todo in todos"
                v-show="todo.status == show.one || todo.status == show.two"
                :todo="todo"
                :key="todo.id"
                @remove-todo="removeTodo"
                @ch-status="doneTodo"></tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <script>

    Vue.component('table-row', {
      props: ['todo'],
      template: `
      <tr>
        <td>
          <input type="checkbox" v-model="todo.status">
        </td>
        <td>
          {{ todo.content }}
        </td>
        <td>
          <button class="btn btn-danger" @click="removeTodo(todo.id)">X</button>
        </td>
      </tr>
      `,
      methods: {
        removeTodo(id) {
          this.$emit('remove-todo', id);
        }
      },
      watch: {
        'todo.status': function(val) {
          this.$emit('ch-status', this.todo.id, val);
        }
      }
    })

    var switchShow = {
      all() {
        app.show['one'] = true;
        app.show['two'] = false;
      },
      active() {
        app.show['one'] = false;
        app.show['two'] = false;
      },
      completed() {
        app.show['one'] = true;
        app.show['two'] = true;
      }
    }

    var app = new Vue({
      el: '#root',

      data: {
        newTodo: '',
        todos: [],
        visibility: 'all',
        show: {
          one: true,
          two: false
        }
      },

      methods: {
        addTodo() {
          let here = this;
          fetch('http://localhost:3000/todos', {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({content: here.newTodo})
          }).then(function(res) {
            if(res.status == 200) {
              return res.json();
            }
          }).then(function(json) {
            here.todos = json;
          }).catch(function(err) {
            console.log("error : " + err);
          })
          this.newTodo = '';
        },
        removeTodo(id) {
          let here = this;
          fetch('http://localhost:3000/todos/' + id, {
            method: "DELETE"
          }).then(function(res) {
            if(res.status == 200) {
              return res.json();
            }
          }).then(function(json) {
            here.todos = json;
          }).catch(function(err) {
            console.log("error : " + err);
          })
        },
        doneTodo(id, status) {
          let here = this;
          fetch('http://localhost:3000/todos/' + id, {
            method: "PATCH",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({status: status})
          }).then(function(res) {
            if(res.status == 200) {
              return res.json();
            }
          }).then(function(json) {
            here.todos = json;
          }).catch(function(err) {
            console.log("error : " + err);
          })
        }
      },

      created: function() {
        var here = this;
        fetch('http://localhost:3000/todos')
        .then(function(res){
          return res.json();
        }).then(function(json){
          here.todos = json;
        })
      },

      watch: {
        visibility: function(val) {
          switchShow[val]();
        }
      }
    })

    function onHashChange() {
      let visibility = window.location.hash.replace(/#/, '');
      if (switchShow[visibility]) {
        app.visibility = visibility;
      } else {
        window.location.hash = '';
        app.visibility = 'all';
      }
    }
    window.addEventListener('hashchange', onHashChange)
  </script>
</body>
</html>
